*{
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    box-sizing: border-box;
}
body{
    
    font-family: 'Montserrat', sans-serif;
}
section{
    margin: 0 auto;
    display: flex;
    background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(/images/travel-header-bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 766px;
}
nav{
    display: flex;
    align-items: space-between;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    padding: 10px 30px;
}
nav ul li a{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;    
    text-decoration: none;
    color: #ffffff;

}